.logo_title {
  display: flex;
  font-family: "Arial";
  font-weight: 900;
}

.larger {
  font-size: 40px;
}

.large {
  font-size: 25px;
}

.medium {
  font-size: 20px;
}

.small {
  font-size: 10px;
}
